@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

@media (max-width: 1100px) {
  body.lock {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #F4F5F6;
  padding: 30px 0 0 0;
  z-index: 6;
}
@media (max-width: 1100px) {
  .header {
    height: 70px;
    padding: 25px 0 0 0;
  }
}

.header__body {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  position: relative;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 70px;
}
@media (max-width: 1100px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__list li {
  -webkit-transform: translate(-190px, 0);
          transform: translate(-190px, 0);
  margin: 0 20px 0 0;
}
@media (max-width: 1160px) {
  .header__list li {
    -webkit-transform: translate(-100px, 0);
            transform: translate(-100px, 0);
  }
}
@media (max-width: 1100px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__list li {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    margin: 10px 0;
  }
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  color: #424551;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.header__link:hover {
  color: #FF5A30;
}
.header__link:active {
  color: #ab3111;
}
@media (max-width: 1100px) {
  .header__link {
    font-size: 20px;
  }
}

.header__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 0px 100px;
}
@media (max-width: 1100px) {
  .header__company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.company__contact {
  margin: 0px 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company__contact img {
  max-width: 100%;
}
@media (max-width: 1100px) {
  .company__contact {
    margin: 30px 0 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.conmany__info {
  padding: 0 0 0 20px;
  line-height: 20px;
  font-size: 16px;
  color: #424551;
  font-weight: 500;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.conmany__info:hover {
  color: #FF5A30;
}
.conmany__info:active {
  color: #ab3111;
}
@media (max-width: 1100px) {
  .conmany__info {
    text-align: center;
    padding: 10px 0;
  }
}

.burger {
  display: none;
}
@media (max-width: 1100px) {
  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .burger::before, .burger::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    bottom: 0;
  }
}

@media (max-width: 1100px) {
  .header__menu {
    overflow: auto;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
    background-color: #fff;
    padding: 70px 10px 20px 10px;
    z-index: 4;
  }
}

.header__menu.active {
  top: 0;
}
@media (max-width: 1100px) {
  .header__menu.active {
    padding: 90px 0;
  }
}

.burger.active span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.burger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 9px;
}
.burger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 9px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.interior {
  margin: -80px 0 80px 0;
  background-image: url("../img/фон чертёж.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.interior__row {
  max-width: 1280px;
  margin: 0 auto;
  padding: 230px 10px;
}
@media (max-width: 1100px) {
  .interior__row {
    padding: 200px 10px;
  }
}

.interior__home-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 370px;
}
.interior__home-row a {
  margin: 0px 20px 0 0px;
  color: #1E212C;
  position: relative;
  line-height: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.interior__home-row a:after {
  content: "/";
  color: #9A9CA5;
  position: absolute;
  right: -10px;
}
.interior__home-row a:last-child:after {
  display: none;
}
.interior__home-row a:hover {
  color: #9A9CA5;
}

.interior__title {
  margin: 30px 0 20px 0;
  line-height: 70px;
  max-width: 400px;
  font-weight: 700;
  font-size: 50px;
  color: #1E212C;
}
@media (max-width: 500px) {
  .interior__title {
    font-size: 40px;
    line-height: 52px;
  }
}
@media (max-width: 300px) {
  .interior__title {
    font-size: 30px;
    line-height: 52px;
  }
}

.interior__subtext {
  max-width: 600px;
  font-size: 20px;
  color: #787A80;
  line-height: 30px;
}
@media (max-width: 500px) {
  .interior__subtext {
    font-size: 18px;
    line-height: 25px;
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.project__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1100px) {
  .project__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 1100px) {
  .project__row {
    max-width: 575px;
  }
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 48px;
  color: #1E212C;
}

.project__subtext {
  margin: 30px 0px 60px 0px;
}

.subtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #787a80;
}

.project__but {
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 40px;
  color: #FF5A30;
  border: 1px solid #FF5A30;
  -webkit-transition: 300ms;
  transition: 300ms;
  position: relative;
}
.project__but:hover {
  color: #fff;
  background-color: #FF5A30;
}
.project__but:active {
  top: 2px;
  background-color: #FF5A50;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.project__img {
  margin: 0px 0px 0px 20px;
}
@media (max-width: 1100px) {
  .project__img {
    display: none;
  }
}
.project__img img {
  max-width: 100%;
}

.design {
  margin: 100px 0;
}

.design__img {
  margin: 0px 20px 0px 0px;
}
@media (max-width: 1100px) {
  .design__img {
    display: none;
  }
}
.design__img img {
  max-width: 100%;
}

.way {
  margin: 130px 0 0 0;
  background-image: url("../img/новое здание.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
  position: relative;
}

.way__body {
  position: absolute;
  right: 120px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 70px 0px;
}
@media (max-width: 1100px) {
  .way__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 800px) {
  .way__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0;
    left: 0;
  }
}

.form__user {
  border-radius: 4px;
  display: inline-block;
  background-color: #fff;
  padding: 0 40px 50px 40px;
  max-width: 490px;
  margin: 0 10px;
}
@media (max-width: 600px) {
  .form__user {
    padding: 0px 20px 20px 20px;
  }
}

.way__title {
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 48px;
  color: #1E212C;
}
@media (max-width: 1100px) {
  .way__title {
    padding: 30px 0 0 0;
  }
}
@media (max-width: 600px) {
  .way__title {
    padding: 15px 0px 0px 0px;
  }
}

.user__column {
  margin: 30px 0;
}
@media (max-width: 1100px) {
  .user__column {
    margin: 25px 0;
  }
}

.input {
  margin: 10px 0 0 0;
  color: #1E212C;
  border-radius: 4px;
  border: 2px solid #d7dadd;
  background-color: #F4F5F6;
  height: 44px;
  padding: 0 15px;
  width: 100%;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #9A9CA5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #9A9CA5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #9A9CA5;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #9A9CA5;
}

.js-input-checkbox {
  display: none;
}

.js-input-checkbox:checked + .checkbox__text::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.js-input-checkbox:checked + .checkbox__text::before {
  border: 1px solid #FF5A30;
}

.user__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -25px 0px 0 5px;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 22px 0px 0px 0px;
  font-size: 14px;
  margin: 0 10px 0 0px;
  line-height: 22px;
  color: #424551;
  position: relative;
}
.checkbox__text::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  height: 18px;
  border: 1px solid #424551;
  background-color: fff;
  border-radius: 4px;
  position: relative;
  top: -10px;
  left: 0;
}
@media (max-width: 334px) {
  .checkbox__text::before {
    top: -20px;
  }
}
@media (max-width: 301px) {
  .checkbox__text::before {
    top: -32px;
  }
}
@media (max-width: 247px) {
  .checkbox__text::before {
    top: -42px;
  }
}
@media (max-width: 223px) {
  .checkbox__text::before {
    top: -54px;
  }
}
.checkbox__text::after {
  -webkit-transition: 300ms;
  transition: 300ms;
  content: "";
  background-image: url("../img/icons/check.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  color: #fff;
  padding: 0 0 0 4px;
  height: 18px;
  position: absolute;
  top: 25px;
  left: 0px;
  background-color: #FF5A30;
  border-radius: 4px;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.checkbox__text p {
  margin: 0px 10px 0 10px;
}

.user__send {
  margin: 22px 0 0 0;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button {
  font-weight: 700;
  border-radius: 5px;
  padding: 15px 40px;
  color: #FF5A30;
  font-size: 14px;
  border: 1px solid #FF5A30;
  -webkit-transition: 300ms;
  transition: 300ms;
  text-transform: uppercase;
  position: relative;
}
.button:hover {
  color: #fff;
  background-color: #FF5A30;
}
.button:active {
  top: 2px;
  background-color: #FF5A50;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.error {
  border: 2px solid red;
}

.footer {
  background-color: #1E212C;
}

.footer__body {
  margin: 0 auto;
  max-width: 1200px;
  padding: 90px 10px;
}
@media (max-width: 979px) {
  .footer__body {
    padding: 50px 10px;
  }
}

.footer__column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 979px) {
  .footer__column-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column-one-row {
  max-width: 500px;
}

.footer__column-logos {
  max-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 500px) {
  .footer__column-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__logo-soc-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 500px) {
  .footer__logo-soc-set {
    margin: 20px 0px 0px -10px;
  }
}
@media (max-width: 500px) and (max-width: 240px) {
  .footer__logo-soc-set img {
    margin: 10px 0;
  }
}

.footer__logo-soc-icon {
  margin: 0 10px;
}

.footer__column-text {
  margin: 25px 0 0 0;
  color: #9A9CA5;
  font-size: 15px;
  line-height: 20px;
}

@media (max-width: 979px) {
  .footer__one-lets {
    margin: 50px 0px 30px 0px;
  }
}

.footer__one-title {
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.footer__one-subscribe {
  margin: 20px 0;
}
@media (max-width: 500px) {
  .footer__one-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.input-sub {
  width: 300px;
  height: 35px;
  padding: 0 10px;
}
@media (max-width: 500px) {
  .input-sub {
    width: 100%;
  }
}

.button-sub {
  margin: 0px 0px 0px -4px;
  padding: 10px 20px;
  background-color: #FF5A30;
  color: #fff;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .button-sub {
    margin: 20px 0 0 0;
    width: 100%;
  }
}

.footer__one-sub-text {
  margin: 25px 0 0 0;
  color: #9A9CA5;
  font-size: 14px;
  line-height: 20px;
  max-width: 410px;
}

.footer__two-head {
  margin: 50px 0;
}

.footer__hed-row {
  max-width: 990px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 0px -20px;
}
@media (max-width: 679px) {
  .footer__hed-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
  }
}

.footer__hed-column {
  max-width: 270px;
  margin: 0 20px;
}
@media (max-width: 679px) {
  .footer__hed-column {
    margin: 20px 10px;
  }
}

.footer__hed-title {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}

.footer__hed-adress {
  margin: 10px 0;
  line-height: 20px;
}
.footer__hed-adress span {
  color: #fff;
  font-weight: 500;
  margin: 0 5px 0 0;
}
.footer__hed-adress a {
  color: #9A9CA5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.footer__hed-adress a:hover {
  color: #fff;
}

.footer__end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__end-text a {
  color: #fff;
  line-height: 20px;
}
.footer__end-text img {
  margin: 0 5px;
}

.footer__go-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__go-top a {
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
}
@media (max-width: 767px) {
  .footer__go-top {
    margin: 30px 0 0 0;
  }
}

.footer__go-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 20px;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #FF5A30;
}

.swiper-container {
  margin: 160px 0px 100px 0px;
}

.swiper__title {
  text-align: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 59px;
  color: #1E212C;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .swiper__title {
    font-size: 35px;
    line-height: 40px;
  }
}
@media (max-width: 400px) {
  .swiper__title {
    font-size: 30px;
    line-height: 33px;
  }
}

.swiper__subtext {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #787A80;
  max-width: 700px;
  margin: 20px auto;
}
@media (max-width: 400px) {
  .swiper__subtext {
    font-size: 16px;
    line-height: 22px;
  }
}

.swiper {
  margin: 50px auto;
  max-width: 1250px;
}

.swiper-slide {
  padding: 0 10px;
  font-size: 16px;
  background-color: #fff;
}
@media (max-width: 992px) {
  .swiper-slide {
    margin: 70px 0 90px 0px;
  }
}

.swiper .swiper-button-prev {
  left: 10;
}
.swiper .swiper-button-prev::after {
  color: #FF5A30;
  font-size: 40px;
}

.swiper .swiper-button-next {
  right: 10px;
}
.swiper .swiper-button-next::after {
  color: #FF5A30;
  font-size: 40px;
}

.swiper .swiper-pagination {
  bottom: 0;
  margin: 20px 0;
}

.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #FF5A30;
}

.slider__cont {
  max-width: 350px;
  margin: 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
}

.slider__icon img {
  max-width: 100%;
}

.slide__title {
  margin: 20px 0px;
  font-weight: 700;
}

.slider__text {
  margin: 0px 20px 0px 0px;
  max-width: 250px;
  color: #787A80;
  line-height: 20px;
}